<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273994436380-hj5adu54ikgro5h1budvpi517qf39nhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273994436380-hj5adu54ikgro5h1budvpi517qf39nhe</string>
	<key>API_KEY</key>
	<string>AIzaSyCRNrwaWAXR0Zbn_QwOuPdT6610rOlGw70</string>
	<key>GCM_SENDER_ID</key>
	<string>273994436380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adaptive.wshejob</string>
	<key>PROJECT_ID</key>
	<string>wsh-ejob</string>
	<key>STORAGE_BUCKET</key>
	<string>wsh-ejob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273994436380:ios:055b803e298ec38183f4d9</string>
	<key>DATABASE_URL</key>
	<string>https://wsh-ejob.firebaseio.com</string>
</dict>
</plist>